<div class="inner">
<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/google.png') %>
										<%= image_tag('/stylesheets/backend/assets/icons/big_icons/google_title.png',:id => 'big_title') %>
										</p>
<h1>Google Agenda Sync</h1>
				

<div id="box"> 
<fieldset>
						<legend>Google Login</legend>
<% form_for '', :html => { :id => "contact_form_id" }, :url => {:action => :verify} do %>
			<p>
			<label for="name">Username</label>
			<%= text_field_tag :username, @username,{:class => "lf"} %>
			</p>
			<p>
			<label for="name">Password</label>
			<%= password_field_tag :password, @password,{:class => "lf"} %>
			</p>
			<p>
			<%= submit_tag 'Google Login',:class => "button_link" %>
			</p>
<% end %>
</fieldset>
</div> 

</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#google').addClass('current').html("<a><span>Google</span></a>");
    });
  </script>
<% end %>