<div class="inner">
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/google.png') %>
										<%= image_tag('/stylesheets/backend/assets/icons/big_icons/google_title.png',:id => 'big_title') %>
										</p>
				
										<h1>New Google Agenda</h1>
						
<%= link_to("<< Back to list", {:action => 'index'}, :class => 'button_link') %>
<div>&nbsp;</div>				
						
					<fieldset>
						<legend>New Google Agenda</legend>
<% form_for '', :url => {:action => :save_calendar} do %>
		<p>
		<label>Title:</label>
 		<%= text_field_tag 'title' %>
 		</p>
	<%= submit_tag 'Save', {:class => 'button_link'} %>
<% end %>
</fieldset>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#google').addClass('current').html("<a><span>Google</span></a>");
    });
  </script>
<% end %>