<div class="inner">
				
										<h1>Google Agenda Event Details</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum, risus lacinia scelerisque facilisis, tellus felis tristique mauris, nec dignissim felis mi ac quam. Nulla at justo eget augue congue feugiat vel ut leo. Vestibulum magna sem, sollicitudin nec gravida vel, feugiat viverra eros.</p>

<%= link_to("Edit Event", {:action => :edit, :event_id => @event.id}, :class => 'button_link') %>
<div>&nbsp;</div>
<fieldset>
						<legend>Google Agenda Event</legend>
						<p>
						<label for="name">Title</label>
						<%= @event.title %>
						</p>
						
						<p>
						<label for="name">Content</label>
						<%= @event.content %>
						</p>
						
						<p>
						<label for="name">Calendar</label>
						<%= link_to @event.calendar.title, :action => :events, :calendar_id => @event.calendar.id %>
						</p>
						
						<p>
						<label for="name">Published:</label>
						<%= @event.published.strftime("%m/%d/%Y @ %I:%M %p") %>
						</p>
						
						<p>
						<label for="name">Updated:</label>
						<%= @event.updated.strftime("%m/%d/%Y @ %I:%M %p") %>
						</p>
						
						<p>
						<label for="name">Edited:</label>
						<%= @event.edited.strftime("%m/%d/%Y @ %I:%M %p") %>
						</p>
						
						<p>
						<label for="name">Start Date/Time:</label>
						<%= @event.start_time ? @event.start_time.strftime("%m/%d/%Y @ %I:%M %p") : @event.recurrence.start.strftime("%m/%d/%Y @ %I:%M %p") %>
						</p>
						
						<p>
						<label for="name">End Date/Time:</label>
						<%= @event.end_time ? @event.end_time.strftime("%m/%d/%Y @ %I:%M %p") : 						@event.recurrence.end.strftime("%m/%d/%Y @ %I:%M %p") %>
						</p>
						
						<p>
						<label for="name">All Day:</label>
						<%= @event.all_day %>
						</p>
						
						<p>
						<label for="name">Status:</label>
						<%= @event.status %></p>
						</p>
						
						<p>
						<label for="name">Where:</label>
						<%= @event.where %>
						</p>
						
						<p>
						<label for="name">Recurrence:</label>
						<%= @event.recurrence.to_s %>
						</p>
						</fieldset>
						
						<fieldset>
						<legend>Google Reminder</legend>
<div><%= form_for '', :url => {:action => :add_recurrence, :event_id => @event.id, :id => "contact_form_id" } do %>
<p>
						<label for="name">Reminders</label>
						<%= select_tag 'method', options_for_select(["email", "alert", "none"]) %>
						<%= select_tag 'minutes', options_for_select(@minutes) %>
						</p>
						
						<p>
						<%= submit_tag 'Save',:class => "sendButton"%>
						</p>
<% end %>

</div>
					
						<% @event.reminder.each do |r| %>
						<p><%= "#{r[:method]} #{r[:minutes]} minutes before" %> 
						(<%= link_to 'X', :action => :remove_reminder, :event_id => @event.id, :method => r[:method], :minutes => r[:minutes] %>)</p>
						<% end %>
					</fieldset>
	
					<fieldset>
						<legend>Google Agenda Attendees</legend>	
					<%= form_for '',:id => "contact_form_id", :url => {:action => :add_attendee, :event_id => @event.id} do %>
					
						<p>
						<label for="name">Name</label>
						<%= text_field_tag 'name' %>
						</p>
						
						<p>
						<label for="name">Email</label>
						<%= text_field_tag 'email' %>
						</p>
						
						<p>
						<%= submit_tag 'Add',:class => "sendButton"%>
						</p>
					<% end %>
					</fieldset>
					
					<table class="normal tablesorter fullwidth">
						<thead>
							<tr>
								<th>Status</th>
								<th>Name</th>
								<th>Role</th>
								<th>Action</th>
							</tr>
						</thead>
	<tbody>

						<% @event.attendees.each do |e| %>
						
					<tr class="odd">
								
								<td><%= e[:status].capitalize %></td>
								<td><%= e[:name] %></td>
								<td><%= e[:role] %></td>
								<td><%= link_to 'X', :action => :remove_attendee, :email => e[:email], :event_id => @event.id %></td>
							</tr>
	
	
	
	<% end %>
	</tbody>
	</table>



</div>