
<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#config').addClass('current').html("<a><span>Config Keys</span></a>");
    });
  </script>
<% end %>

<fieldset>
						<legend>Twitter</legend>
						
						<h2><%= image_tag('assets/icons/social/twitter.png') %></h2>
						
						<p>
						<label>Twitter Username:</label>
						<%= f.text_field(:twitter_username,{:class => "lf"})%>
						</p>
						<p>
						<label>Hashtag: (vb. ska wordt #ska)</label>
						<%= f.text_field(:twitter_hash_tag,{:class => "lf"})%>
						</p>
						<p>
						<label>Twitter Consumer Key:</label>
						<%= f.text_field(:twitter_consumer_key,{:class => "lf"})%>
						</p>
						<p>
						<label>Twitter Consumer Secret:</label>
						<%= f.text_field(:twitter_consumer_secret,{:class => "lf"})%>
						</p>
						<p>
						<label>Twitter Oauth Token:</label>
						<%= f.text_field(:twitter_oauth_token,{:class => "lf"})%>
						</p>
						<p>
						<label>Twitter Oauth Secret:</label>
						<%= f.text_field(:twitter_oauth_secret,{:class => "lf"})%>
						</p>
						<p>
						<label>Twitter Page Url:</label>
						<%= f.text_field(:twitter_link,{:class => "lf"})%>
						</p>
						</fieldset>
						
						<fieldset>
						<legend>Facebook</legend>
						<h2><%= image_tag('assets/icons/social/facebook.png') %></h2>
						
						<p>
						<label>Facebook App ID:</label>
						<%= f.text_field(:facebook_app_id,{:class => "lf"})%>
						</p>
						
						<div id="fb-root"></div>
           <script src="http://connect.facebook.net/en_US/all.js">
           </script>
           <script>
              FB.init({
                 appId:'<%= @config_key.facebook_app_id %>', cookie:true,
                 status:true, xfbml:true
              });
    
               FB.getLoginStatus(function(response) {
                 if (response.session) {
               $("input#config_key_facebook_access_token").val(response.session['access_token']);
                 } else {
                     // mss een andere callback actie
                 }
               });
           </script>
           <fb:login-button perms="user_about_me,user_activities,user_birthday,user_education_history,user_events,user_groups,user_hometown,user_interests,user_likes,user_location,user_notes,user_online_presence,user_photo_video_tags,user_photos,user_relationships,user_relationship_details,user_religion_politics,user_status,user_videos,user_website,user_work_history,email,read_friendlists,read_insights,read_mailbox,read_requests,read_stream,xmpp_login,ads_management,user_checkins,publish_stream,create_event,rsvp_event,sms,offline_access,publish_checkins,manage_pages,friends_about_me,friends_activities,friends_birthday,friends_education_history,friends_events,friends_groups,friends_hometown,friends_interests,friends_likes,friends_location,friends_notes,friends_online_presence,friends_photo_video_tags,friends_photos,friends_relationships,friends_relationship_details,friends_religion_politics,friends_status,friends_videos,friends_website,friends_work_history,manage_friendlists,friends_checkins">Link your fanpage</fb:login-button>
          <div id="token"></div>
						<div>&nbsp;</div>
						<p>
						<label>Facebook fan page:</label>
						<%= f.text_field(:facebook_fan_page,{:class => "lf"})%>
						</p>
						<p>
						<label>Facebook Access Token:</label>
						<%= f.text_field(:facebook_access_token,{:class => "lf"})%>
						</p>
						<p>
						<label>Facebook Page Url:</label>
						<%= f.text_field(:facebook_link,{:class => "lf"})%>
						</p>
						</fieldset>
						
						<fieldset>
						<legend>Google Agenda</legend>
						<h2><%= image_tag('assets/icons/social/google.png') %></h2>
						
						<p>
						<label>Google Email:</label>
						<%= f.text_field(:google_email,{:class => "lf"})%>
						</p>
						<p>
						<label>Google Email Password:</label>
						<%= f.password_field(:google_email_password,{:class => "lf"})%>
						</p>
						</fieldset>
						
						<fieldset>
						<legend>Myspace</legend>
						<h2><%= image_tag('assets/icons/social/myspace.png') %></h2>
						<p>
						<label>Myspace Page Url:</label>
						<%= f.text_field(:myspace_link,{:class => "lf"})%>
						</p>
						</fieldset>
						<fieldset>
						<legend>Email</legend>
						<p>
						<label>Booking email:</label>
						<%= f.text_field(:booking_mail,{:class => "lf"})%>
						</p>
						</fieldset>
						
	

						
						