<div class="inner">
				
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/config.png') %>
										<%= image_tag('/stylesheets/backend/assets/icons/big_icons/config_title.png',:id => 'big_title') %>
										</p>
										<h1>Edit the config keys!!</h1>
					
<a href="/config_key" class="button_link">&lt;&lt; Back to list</a>
<div>&nbsp;</div>

<%= form_for(:config_key,:html => { :id => "contact_form_id" },:url => {:action => 'update', :id => @config_key.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<%= submit_tag("Update",:class => "button_link")%>

<% end %>
</div>
