<%= render "shared/error_messages" , :target => @track %>
<fieldset>
	<legend>Music</legend>
						
			<p>
			<label>Name</label>
			<%= f.text_field(:name,{:class=> "required",:minlength => "5"})%>
			</p>
			<p>
			<label>MP3</label>
			<%= f.text_field(:mp3,{:class=> "required",:minlength => "5"})%>
			</p>
			<p>
			<label>OGA</label>
			<%= f.text_field(:oga,{:class=> "required",:minlength => "5"})%>
			</p>
			
			<p>
			<label>Cover</label>
			<%= f.file_field(:cover,{:class => "styled_upload required",:accept => "png|jpe?g"}) %>
			</p>
			<p>
			<label>Song</label>
			<%= f.file_field(:song,{:class => "styled_upload required",:accept => "mp3"}) %>
			</p>
			
			<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#music').addClass('current').html("<a><span>Music</span></a>");
    });
  </script>
<% end %>
