<%= render "shared/error_messages" , :target => @track %>
<fieldset>
	<legend>Music</legend>
						
			<p>
			<label>Name</label>
			<%= f.text_field(:name,{:class => 'tf'})%>
			</p>
			<p>
			<label>MP3</label>
			<%= f.text_field(:mp3,{:class => 'tf'})%>
			</p>
			<p>
			<label>OGA</label>
			<%= f.text_field(:oga,{:class => 'tf'})%>
			</p>
		
			<p>
			<label>Song</label>
			<%= f.file_field(:song) %>
			</p>