<div class="inner">
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/music.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/music_title.png',:id => 'big_title') %>
</p>

										<h1>Edit the music!</h1>
					
<%= link_to("<< Back to list", {:action => 'lijst'}, :class => 'button_link') %>
<div>&nbsp;</div>

<%= form_for(:track, :url => {:action => 'update', :id => @track.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<div class="form-buttons">
		<%= submit_tag("Create Track")%>
	</div>
<% end %>
</div>