<div class="inner">
				
<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/music.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/music_title.png',:id => 'big_title') %>
</p>

<%= form_for(:track,:html => {:method => :get, :id => "tracks_search"}) do %>
<% if flash[:notice] %>
<div class="notification success"> 
<span></span> 
<div class="text"> 
<p><strong><%= flash[:notice] %></strong>.</p> 
</div> 
</div> 
  <% end %>
  <fieldset><legend>Search</legend>
  <%= hidden_field_tag :direction, params[:direction] %>  
  <%= hidden_field_tag :sort, params[:sort] %>  
  <p>  
    <%= text_field_tag :search, params[:search] %>  
    <%= submit_tag "Search", :name => nil %>  
  </p>
<% end %>
</fieldset>
<div class="track list" id="tracks">
<%= render "lijst" %>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#music').addClass('current').html("<a><span>Music</span></a>");
    });
  </script>
<% end %>
