<div class="inner">
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/music.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/music_title.png',:id => 'big_title') %>
</p>
										<h1>Insert a new song!</h1>
					
<%= link_to("<< Back to list", {:action => 'lijst'}, :class => 'button_link') %>
<div>&nbsp;</div>


<%= form_for(:track, :html => { :multipart => true }, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => 'form', :locals => {:f => f}) %>
<%= submit_tag("Create Track",{:class => 'button_link'})%>
	</div>
<% end %>
</div>