<div class="inner">
				
			<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/social.png') %>
			<%= image_tag('/stylesheets/backend/assets/icons/big_icons/social_title.png') %>
			</p>
			
<%= form_for(:tweet, :html => { :id => "contact_form_id" }, :url => {:action => 'post_update'}) do |t| %>
	<%= render(:partial => 'form', :locals => {:t => t}) %>
<%= submit_tag("Submit",:class => "button_link")%>

<% end %>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#social').addClass('current').html("<a><span>Social</span></a>");
    });
  </script>
<% end %>
