

<div class="inner">
<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/user.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/user_title.png',:id => 'big_title') %>
</p>
	
	<%= link_to "New User", "/admin/users/sign_up",{:class => 'button_link'} %>
	<div>&nbsp;</div>
	<table class="normal tablesorter fullwidth">
						<thead>
							<tr>
								
								<th>ID</th>
								<th>Email</th>
								<th>Last sign in</th>
								<th>Sign in Count</th>
								<th>Current Sign in IP</th>
								<th>Actions</th>
							</tr>
						</thead>
	<tbody>

	<% @users.each do |user| %>
		<tr class="odd">
								
								<td><%= user.id %>&nbsp;</td>
								<td><%= user.email %>&nbsp;</td>
								<td><%= user.last_sign_in_at %>&nbsp;</td>
								<td><%= user.sign_in_count %>&nbsp;</td>
								<td><%= user.current_sign_in_ip %></td>
								<td>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/preferences.png'),{:action => 'show', :id => user.id}, {:title => 'Show ' + user.email ,:class => "tooltip table_icon"}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/pencil.png'),{:action => 'edit', :id => user.id}, {:title => 'Edit ' + user.email ,:class => "tooltip table_icon"}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/trash.png'),{:action => 'destroy', :id => user.id}, {:title => 'Delete ' + user.email ,:class => "tooltip table_icon"}) %>	
								</td>
							</tr>
	
	
	
	<% end %>
	</tbody>
	</table>

</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#user').addClass('current').html("<a><span>Users</span></a>");
    });
  </script>
<% end %>
