<div class="inner">
<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/user.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/user_title.png',:id => 'big_title') %>
</p>

<h1>New Admin User</h1>

<%= link_to("<< Back to list", {:action => 'index'}, :class => 'button_link') %>
<div>&nbsp;</div>

<fieldset>
						<legend>Sign up</legend>
<%= form_for(:user, :url => {:action => 'create'}) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>
</fieldset>

</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#user').addClass('current').html("<a><span>Users</span></a>");
    });
  </script>
<% end %>