<div class="inner">
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/user.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/user_title.png',:id => 'big_title') %>
</p>
										<h1>Admin User Details</h1>
					
<%= link_to("<< Back to list", '/users', :class => 'button_link') %>

<div>&nbsp;</div>


<fieldset>
						<legend>Admin User</legend>
		<p>
		<label>Email</label>
		<%= @user.email %>
		</p>
		
		<p>
		<label>Encrypted Password</label>
		<%= @user.encrypted_password %>
		</p>
		
		<p>
		<label>Password_salt</label>
		<%= @user.password_salt %>
		</p>
		
		<p>
		<label>Sign in Count</label>
		<%= @user.sign_in_count %>
		</p>
		
		<p>
		<label>Current Signed at</label>
		<%= @user.current_sign_in_at %>
		</p>
		
		<p>
		<label>Last Signed at</label>
		<%= @user.last_sign_in_at %>
		</p>
		
		<p>
		<label>Current sing in IP</label>
		<%= @user.current_sign_in_ip %>
		</p>

<p>
		<label>Last Signed in IP</label>
		<%= @user.last_sign_in_ip %>
		</p>



</div>
</fieldset>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#user').addClass('current').html("<a><span>Users</span></a>");
    });
  </script>
<% end %>