<div class="inner">
				
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/video.png') %>
					<%= image_tag('/stylesheets/backend/assets/icons/big_icons/video_title.png',:id => 'big_title') %>
					</p>
										<h1>Edit the video!</h1>
					

<%= link_to("<< Back to list", {:action => 'list'}, :class => 'button_link') %>
<div>&nbsp;</div>
<%= form_for(:video ,:html => { :id => "video_form_id" }, :url => {:action => 'update', :id => @video.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<%= submit_tag("Update",:class => "sendButton")%>

<% end %>
</div>