<%= form_for(@contact ,:html => { :id => "contact_form_id" }) do |f| %>
<%= render "shared/error_messages" , :target => @contact %>
<fieldset>
	<legend>Contact Details</legend>
  	<p>
	<label for="name">Name</label>
    <%= f.text_field :name,{:id => "name"} %>
  	</p>
	
	<p>
	<label for="name">Email</label>
    <%= f.text_field :email,{:id => "name"} %>
  	</p>
</fieldset>
<fieldset>
	<legend>Booking Info</legend>
	<br/>
  	<p>
	<label for="name">Info</label>
    <%= f.text_area(:info,{:class => "editor"}) %>
  	</p>
	
  	<p>
	<label for="name">Phone</label>
    <%= f.text_field :tel ,{:id => "name"}%>
  	</p>
  	</fieldset>
  	
  		<p>
    <%= f.submit "Submit" ,:class => "sendButton"%>
 	</p>

<% end %>
