<div class="inner">
				
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/booking.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/booking_title.png',:id => 'big_title') %>
</p>
										<h1>Edit the contract!</h1>
					

<%= link_to("<< Back to list", {:action => 'index'}, :class => 'button_link') %>
<div>&nbsp;</div>

<%= form_for(:contact,:html => { :id => "contact_form_id" },:url => {:action => 'update', :id => @contact.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>

<% end %>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#booking').addClass('current').html("<a><span>Bookings</span></a>");
    });
  </script>
<% end %>