<h1>THIS AGREEMENT for a Show Performance is entered into on this <%= @datum %>, 

BETWEEN:</h1>

<p>THE SKARMINKELS, a contemporary band established in Ghent whose contact is Frederik Mortier with a mailing address of Ferdinand Lousbergkaai 87, 9000 Ghent and mobile number 0477 30 80 93 and email address bookings@skarminkels.be and Bank Account Number: BE50 9795 8999 4118 b.n.o. Dries Vermeulen in Gavere and including the following Band members<br/>
&bull; Sam Buffel <br/>
&bull; Andres De Corte<br/>
&bull; Robbe Denys<br/>
&bull; Mattijs D&rsquo;hondt<br/>
&bull; Wout D&rsquo;hondt<br/>
&bull; Reen Hoet<br/>
&bull; Matthias Lemmens<br/>
&bull; Frederik Mortier<br/>
&bull; Dries Vermeulen<br/>	
Henceforth individually and collectively called: &ldquo;The Skarminkels&rdquo;</p>

<p>AND</p>

<p><strong><%= @contact.name %></strong></h3>, whose primary Contact is<strong> <%= @contact.name %></strong>, whose address is ADDRESS and mobile number <strong><%= @contact.tel %></strong> and email address&nbsp;<strong><%= @contact.email %></strong>. Henceforth called: &ldquo;The Principal&rdquo;.

The Skarminkels and The Principal may be referred to herein individually as a &ldquo;party&rdquo;, and together as the &ldquo;parties&rdquo;.

WHEREAS, the Principal desires to utilize the services of The Skarminkels as an independent band, and The Skarminkels desires to provide such services in a good and workman like manner, as an independent performer, and comply with all the laws, rules and regulations related to such assignment. The parties hereto, in consideration of the mutual covenants and undertaking expressed herein and in particular, in consideration of the fee paid to The Skarminkels, declare to have agreed to the following:</p>


<h2>1.0	Article 1 &minus; Assignment:</h2>

<p>1.1 	The Principal hereby requests, and The Skarminkels accept, the assignment to provide a performance:
&bull;Date: <strong><%= @contact.datum_optreden %></strong><br/>
&bull;Establishment Name: <strong><%= @contact.naam_optreden %></strong><br/>
&bull;Address: <strong><%= @contact.adres_optreden %></strong><br/>
&bull;Time the performance is scheduled to begin: <strong><%= @contact.aanvang_optreden %></strong><br/>
&bull;Name and/or short description of the event: <strong><%= @contact.beschrijving_optreden %></strong><br/>
Henceforth called: &ldquo;The Performance&rdquo;;</p>

<p>
1.2 	The Principal will take into account the provisions as mentioned in The Skarminkels Rider. The Skarminkels Rider is available on the website www.skarminkels.be. It is also added to this document as Annex I. 
<% if @contact.pa == 1 %>
The Skarminkels will use their own PA system for The Performance </p>
<% else %>
<p>The Skarminkels will use a PA system as provided for by The Principal.</p>
<% end %>


<h2>2.0	Article 2 &minus; Wage:</h2> 
<p>
2.1 	The Principal agrees to pay The Skarminkels a reimbursement &euro; <strong><%= @contact.loon %></strong> for The Performance.</h2>

In case The Performance cannot take place on behalf of The Principal, and in case The Principal cannot clearly show the cancellation was outside of its will and control, then the Principal is bound to the payment of the above reimbursement. This, unless The Skarminkels relieves The Principal of this duty.
</p>

<h2>3.0	Article 3 &minus; Payment:</h2>
<p>
3.1 	The Principal will pay the wage in its entirety to The Skarminkels:
1. 	Cash; before or shortly after The Performance has ended.
2. 	By bank transfer to BE50 9795 8999 4118; before The Performance or at maximum three business days after The Performance has ended. The Principal will mention the date and name of the event in the transfer description.</p>


<h2>4.0	Article 4 &minus; Special Rights and Obligations of The Principal:</h2>
<p>
4.1 	The Principal will ensure the payment of all music royalties owed. No music royalties can ever be claimed from The Skarminkels. The Principal hereby takes note of the fact that The Skarminkels often play covered songs.</p>
<p>
4.2 	The Principal has the right to use the name, logo, other graphic material, &ldquo;biography info&rdquo; of The Skarminkels, in their efforts to promote the event in which The Skarminkels will perform under this agreement.</p>
<p>
4.3 	The Principal is obligated to observe all rules and regulations in the areas of safety and working conditions.</p>
<p>
4.4 	The Principal is bound to undertake every possible action to ensure the safety of The Skarminkels and to prevent damage to the material of The Skarminkels. If The Skarminkels request a room that is secure and private (for temporarily stocking material, tuning instruments, changing clothes, etc.), the Principal will comply. If The Performance is set to take place outdoors, The Principal is obligated to ensure enough cover to adequately shield the band members and their material/equipment from detrimental or adverse weather conditions. Should injury, damage or theft arise in the largest context of The Performance, and that event can be linked to the partial- or noncompliance to the provisions in this article, then The Skarminkels will be fully indemnified by The Principal.</p>


<h2>5.0	Article 5 &minus; Special Rights and Obligations of The Skarminkels:</h2>
<p>
5.1 	The Skarminkels will, in the context of The Performance, be responsible for: 
- 	The transportation of The Skarminkels and any person they wish to accompany them to the event;
- 	Their instruments and material/equipment necessary for The Performance;</p>
<p>
5.2 	The Skarminkels will, at request of The Principal, and where available, deliver the logo, graphic material and/or &ldquo;biography info&rdquo; of The Skarminkels.</p>
<p>
5.3 	Of The Skarminkels it is not expected that all, as described in this contract, band members be present at the event or for The Performance.</p>
<p>
5.4 	The Skarminkels have the right to elect one or more person(s), earlier known by one or all band members, to be a &ldquo;band member&rdquo;. This person or persons will then enjoy the same rights and bound to the same obligations as the other band members.</p>
<p>
5.5 	The Skarminkels has the right to use the name, logo, graphic material and information of The Principal and of the event on which The Performance is scheduled.</p>


<h2>6.0	Article 6 &minus; Liability:</h2>
<p>
6.1 	The Principal is liable in all areas of safety and the prevention of injury or damage inflicted to the band members, contributors, and their material/equipment; whether the injury or damage be inflicted by The Principal, its employees, its contributors, its contractors, or any person present at the event on which The Performance is scheduled.</p>
<p>
	The Principal indemnifies The Skarminkels from any claims of third parties in the largest context of the event on which The Performance is scheduled to take place.</p>


<h2>7.0	Article 7 &minus; Amendments to Agreements:</h2>
<p>
7.1 	If for any reason The Performance cannot take place on behalf of The Skarminkels, The Skarminkels must notify The Principal of this fact as soon as possible.</p>
<p>	
	If a cancellation as intended in the paragraph above occurs; then The Principal has the right to let The Performance take place with unaltered agreements, within a period of 6 months following the cancellation and taking into account the availability of The Skarminkels and its band members.
</p>
<p>
7.2 	If for any reason The Performance cannot take place on behalf of The Principal, then the Agreement shall be null and void and deemed legally dissolved.</p>


<h2>8.0	Article 8 &minus; Final Provisions:</h2>
<p>
8.1 	Any change or addition to this agreement will only be considered valid provided the change is agreed upon by both parties in written consent.

Drawn up and signed in duplicate</p>

<table border="0">
<tr>
<td><p>SIGNED for and</p> 
<p>on behalf of								
THE PRINCIPAL</p></td>
<td><p>THE SKARMINKELS</p>
<p>By: Frederik Mortier</p></td>
</tr>
<tr>
<td><p>By:&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>							
<p>Date: &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</p></td>
<td><p>Date: <%= @datum %></p></td>
<tr>
<td></td>
<td><%= pdf_image_tag("contract.png", :style=>"margin:0px;padding:0px",
:width=>"160", :height=>"160")%></td>
</tr>
</tr>
</table>

<h1>ANNEX I</h1>

<h3>THE SKARMINKELS RIDER</h3>

<h3>GENERAL PROVISIONS</h3>

<h3>DRINKS</h3>
<p>The minimum is that The Skarminkels receive free service or coupon equivalents of 4 drinks per band member, and all drinks should be free while The Skarminkels are performing.</p>

<h3>ELECTRICITY</h3>
<p>Within 5 meters of the podium should be present at least two single phase, 16 Amp 230V AC power connections. All within legal safety prescriptions.</p>

<h3>SET UP</h3>
<p>The image below is a presentation of a possible set up. This is strictly for informational purposes, it is not binding.</p>

<p><%= pdf_image_tag("setup.png", :style=>"margin:0px;padding:0px",
:width=>"450", :height=>"350")%></p>

<h4>PA (PUBLIC ADDRESS) SYSTEM</h4>
<p>If provided by The Skarminkels:
The Skarminkels own a PA which delivers 2x 400W RMS sound. 
16 channel mixing console: 
Mackie 1604 VLZ PRO, Active speakers: 2x Mackie SRM 450, active monitors</p>

<p>If provided by the Principal:
Channels:</p>

<p> Drum = 1 bass, 1 snare, 1 hi-hat, 1 crash, 1 ride, 2 toms, 1 floor tom.
	Requested: Simple or full amplification</p>

<p> Bass = 1 DI-out on own amp: XLR.
	Needed: 1 box microphone</p>

<p> Guitar
	Needed: 1 box microphone
	Requested: 1 DI unit</p>

<p> Brass Section (saxophone, trombone, trumpet) have their own clip-on microphones
	Needed: Phantom power
	Requested: at least 1 microphone on a tripod</p>

<p> Singer
	Needed: 1 microphone on a tripod</p>

<p>Monitoring:
 7 channels (drum/bass/guitar/singer/trombone/trumpet/sax)</p>
 

<h1>ANNEX II</h1>

<h1>NON-CONTRACTUAL AGREEMENTS</h1>

<p>The agreements below are non-contractual, which means they are only stipulated to increase the understanding between both parties. Noncompliance to these agreements cannot be called on as being valid causes for breach of contract.<p>

<h4>1.0 	Times</h4>

<p>1.1 	Requested time of arrival of The Skarminkels: <strong><%= @contact.arriveren %></strong></p>

<p>1.2 	Planned time for The Skarminkels sound check: <strong><%= @contact.soundcheck %></strong></p>

<p>1.3 	Details if a meal or snack is presented to The Skarminkels: <%= @contact.eten_info %></strong></p>

<p>&nbsp;</p>

<h4>2.0 	Guest list</h4>

<p>2.1 	<strong><%= @contact.guest_list %></strong> persons have free access to the event, by invitation of The Skarminkels.</p>



<h4>3.0 	Trivia</h4>

<p>3.1 	A meal or snack isn&rsquo;t expected by The Skarminkels, but often it can be deemed desirable, mainly based on the timing of The Skarminkels&rsquo; required presence at the event.</p>

<p>3.2 	Should any problems arise in the communication with The Skarminkels, then they can also be contacted by calling Robbe Denys at 0032 473 84 37 19.</p>



<h4>4.0	Other Notes by The Principal:</h4>

<p>4.1	<%= @contact.info %></p>



												
								
						
					



