<div class ="inner">
<h1>Boeking lijst</h1>


	<table class="normal tablesorter fullwidth">
						<thead>
							<tr>
								
								<th>Name</th>
								<th>Email</th>
								<th>Info</th>
								<th>&nbsp;Telefoon</th>
								<th>Actions</th>
							</tr>
						</thead>
	<tbody>
<% @contacts.each do |contact| %>
  	<tr class="odd">
								
								<td><%= contact.name %>&nbsp;</td>
								<td><%= contact.email %>&nbsp;</td>
								<td><%= contact.info %>&nbsp;</td>
								<td><%= contact.tel %></td>
								<td>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/preferences.png'),{:action => 'show', :id => contact.id}, {:title => 'Show ' + contact.name ,:class => "tooltip table_icon"}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/trash.png'),{:action => 'delete', :id => contact.id}, {:title => 'Delete ' + contact.name ,:class => "tooltip table_icon"}) %>	
								</td>
							</tr>
	
	
	
	<% end %>
	</tbody>
	</table>

<br />
<%= will_paginate @contacts %>

</div>