<div class="inner">
<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/booking.png') %>
<%= image_tag('/stylesheets/backend/assets/icons/big_icons/booking_title.png',:id => 'big_title') %>
</p>
<p id="notice"><%= notice %></p>
<%= link_to 'Back', contacts_path,{:class => 'button_link'} %>
<div>&nbsp;</div>
<fieldset>
						<legend>Booking detail</legend>
						
<p>
  <label>Name:</label>
  <%= @contact.name %>
</p>

<p>
  <label>Email:</label>
  <%= @contact.email %>
</p>

<p>
  <label>Info:</label>
  <p><%= @contact.info %></p>
</p>

<p>
  <label>Tel:</label>
  <%= @contact.tel %>
</p>

<p>
  <label>PA:</label>
  <%= @contact.pa %>
</p>


<%= link_to (image_tag('/stylesheets/backend/assets/pdf_icon.png')), index_pdf_path(@contact,:id => @contact.id, :format => :pdf) %>
</fieldset>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#booking').addClass('current').html("<a><span>Bookings</span></a>");
    });
  </script>
<% end %>