<% form_for(@album, :html => { :multipart => true }) do |f| %>
  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <h2>Photo(s)</h2>
    <div id="pictures">
      <% if @album.new_record? %>
         <%= render :partial => 'picture', :locals => { :form => f, :picture => @album.pictures.build } %>
      <% else %>
        <% @album.pictures.each do |picture| %>
          <%= image_tag picture.upload.url(:small) %>
        <% end %>
      <% end %>
  </div>
  <%= add_object_link("New Photo", f, @album.pictures.build, "picture", "#pictures") %>
  
  <p><%= f.submit %></p>
<% end %>
