<div class="photo">
  <%= form.fields_for :pictures, picture, :child_index => (picture.new_record? ? "index_to_replace_with_js" : nil) do |picture_form| %>
    <p>
      <%= picture_form.label :name %>
      <%= picture_form.text_field :name %>
      <%= picture_form.file_field :upload %>
      <%= link_to_function "delete", "remove_field($(this), ('.picture'))" %>
    </p>
  <% end %>
</div>