<div class="breadcrumbs">
<div>&nbsp;</div>
<a href="/">Home</a> > <a href="/albums">Albums</a> > <%= @album.name %></a></div>
<aside>
		<h2 class="grid_12 message_board clearfix">Album <%= @album.name %></h2>
</aside>

<p id="notice"><%= notice %></p>

<div class="hr dotted clearfix">&nbsp;</div>
<section id="left_col" class="grid_12">
<h4 class="form_title"><%= pluralize(@album.pictures.size, "foto's")%></h4>
</section>
<section id="left_col" class="grid_12">
<ul class="polaroids">
<%= render :partial => @album.pictures %>
</ul>
</section>
