<p>
  <b>Name:</b>
  <%=h @album.name %><br />
  
  <% @album.pictures.each do |picture| %>
    <h3><%=h picture.name %></h3>
    <%= image_tag picture.upload.url(:small) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>