<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>
<h3 id="uploads_count"><%= pluralize(@album.pictures.size, "upload")%></h3>
<div id="uploads"> <%= render :partial => @album.pictures %>
</div>
<%= render :partial => "show" %>
<h3>Upload a upload</h3> 
<%= form_for Picture.new(:album_id => @album.id), :html => {:multipart => true} do |f| %> 
	<%= f.hidden_field :album_id, "value" => @album.id %>
<p>
<%= f.file_field :upload %> </p>
<p><%= f.submit "Upload" %></p> <% end %>
<p><%= link_to "All albums", albums_path %></p>