<%= render "shared/error_messages" , :target => @band %>
<ul>						
			<li class="clearfix">
			<label for="name">Name</label>
			<%= f.text_field(:name,{:id => "name"})%>
			<div class="clear"></div>
			</li>
		
			<li class="clearfix">
			<label for="name">Content</label>
			<%= f.text_field(:content,{:id => "name"})%>
			<div class="clear"></div>
			</li>
			
			<li class="clearfix">
			<label for="name">Birthday</label>
			<%= f.text_field(:birthday, :class => "datum",:id => "name")%>
			<div class="clear"></div>
			</li>
			
			<li class="clearfix">
			<label for="name">Instrument</label>
			<%= f.text_field(:instrument,{:id => "name"})%>
			<div class="clear"></div>
			</li>
			
			<li class="clearfix">
			<label for="name">Photo</label>
			<%= f.file_field :picture %>
			<div class="clear"></div>
			</li>
	</ul>