<%= render "shared/error_messages" , :target => @band %>
<fieldset>
						<legend>Tha Band</legend>
			<p>
			<label>Name</label>
			<%= f.text_field(:name,{:class => "lf"})%>
			</p>
		
			<p>
			<label for="name">Birthday</label>
			<%= f.text_field(:birthday, :class => "lf")%>
			</p>
			
			<p>
			<label for="name">Instrument</label>
			<%= f.text_field(:instrument,{:class => "lf"})%>
			</p>
			
			</p>
			<label for="name">Photo</label>
			<%= f.file_field :picture,{:id => "name"} %>
			</p>
			
			<p>
			<label for="name">Content</label>
			<%= f.text_area(:content,{:class => "editor"})%>
			</p>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#band').addClass('current').html("<a><span>The Band</span></a>");
    });
  </script>
<% end %>