	<%= link_to("Add New Member", {:action => 'new'}, :class => 'button_link') %>
	<div>&nbsp;</div>
	<table class="normal tablesorter fullwidth">
						<thead>
							<tr>
								
								<th><%= sortable "name" %></th>
								<th><%= sortable "birthday" %></th>
								<th>Content&nbsp;</th>
								<th>&nbsp;Instrument&nbsp;</th>
								<th>Actions</th>
							</tr>
						</thead>
	<tbody>
	
	<% @bands.each do |band| %>

	<tr class="odd">
								
								<td><%= band.name %>&nbsp;</td>
								<td><%= band.birthday %>&nbsp;</td>
								<td><%= band.content %>&nbsp;</td>
								<td>&nbsp;<%= band.instrument %></td>
								<td>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/preferences.png'),{:action => 'show', :id => band.id}, {:title => 'Show ' + band.name ,:class => "tooltip table_icon"}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/pencil.png'),{:action => 'edit', :id => band.id}, {:title => 'Edit ' + band.name ,:class => "tooltip table_icon"}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/trash.png'),{:action => 'delete', :id => band.id}, {:title => 'Delete ' + band.name ,:class => "tooltip table_icon"}) %>	
								</td>
							</tr>
	
	
	
	<% end %>
	</tbody>
	</table>

	<%= will_paginate @bands %>