<div class="inner">
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/band.png') %>
					<%= image_tag('/stylesheets/backend/assets/icons/big_icons/band_title.png',:id => 'big_title') %>
					</p>
										<h1>Delete <%= @band.name %></h1>
										
					<%= link_to("<< Back to list", {:action => 'list'}, :class => 'button_link') %>
<div>&nbsp;</div>
<%= form_for(:band,:html => { :id => "contact_form_id" }, :url => {:action => 'destroy', :id => @band.id}) do |f| %>
	<p>Are you sure you want to delete this record?</p>
	<p class="reference-name"><%= @band.name %></p>
	<div class="form-buttons">
		<%= submit_tag("Delete Member",:class => 'button_link')%>
	</div>
<% end %>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#band').addClass('current').html("<a><span>The Band</span></a>");
    });
  </script>
<% end %>