<div class="inner">

<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/band.png') %>
					<%= image_tag('/stylesheets/backend/assets/icons/big_icons/band_title.png',:id => 'big_title') %>
					</p>
				
										<h1>Edit the band!</h1>
					

<%= link_to("<< Back to list", {:action => 'list'}, :class => 'button_link') %>
<div>&nbsp;</div>
<%= form_for(:band ,:html => { :id => "band_form_id" }, :url => {:action => 'update', :id => @band.id}) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
		<%= submit_tag("Update",:class => "sendButton")%>

<% end %>
</div>