<div data-role="header">
  <h1>The Band!</h1>
</div>

<div data-role="content">
<% @bands.each do |band| %>
				<div data-role="collapsible" data-state="collapsed">
	<h3><%= band.name %></h3>
	<p><%= band.content %><%= image_tag('skarminkels_mobile.png',{:class => 'band_image'}) %></p>
	<p><%= band.instrument %> dude!</p>
	</div>
<% end %>
</div>

<div data-role="footer" data-position="fixed">
	<a class='navi' href="/Subjects/news"><%= image_tag 'mobile/news.png' %></a>
	<a class='navi' href="/Bands" data-role="button"><%= image_tag 'mobile/band.png' %></a>
	<a class='navi' href="/Bands" data-role="button"><%= image_tag 'mobile/gigs.png' %></a>
	<a class='navi' href="/albums" data-role="button"><%= image_tag 'mobile/media.png' %></a>
	<a class='navi' href="/Tracks/player" data-role="button"><%= image_tag 'mobile/music.png' %></a>
	<a class='navi' href="/Contacts/new" data-role="button"><%= image_tag 'mobile/contact.png' %></a>
</div>
		
