<div class="inner">
				
										<h1>A list off band members!</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum, risus lacinia scelerisque facilisis, tellus felis tristique mauris, nec dignissim felis mi ac quam. Nulla at justo eget augue congue feugiat vel ut leo. Vestibulum magna sem, sollicitudin nec gravida vel, feugiat viverra eros.</p>

<%= form_for(:band,:html => {:method => :get, :id => "bands_search"}) do %>
<% if flash[:notice] %>
<div class="notification success"> 
<span></span> 
<div class="text"> 
<p><strong><%= flash[:notice] %></strong>.</p> 
</div> 
</div> 
  <% end %>
  <fieldset><legend>Search</legend>
  <%= hidden_field_tag :direction, params[:direction] %>  
  <%= hidden_field_tag :sort, params[:sort] %>   
  <p>
    <%= text_field_tag :search, params[:search],:id => "search_form" %>  
    <%= image_tag('/stylesheets/backend/assets/icons/small_icons_3/search.png') %>
  </p>  
<% end %>
</fieldset>
<div class="hr dotted clearfix">&nbsp;</div>
<div class="band list" id="bands">
<%= render "lijst" %>
</section>
</section>
</div>