<div class="inner">
				
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/band.png') %>
					<%= image_tag('/stylesheets/backend/assets/icons/big_icons/band_title.png',:id => 'big_title') %>
					</p>


										<h1>Insert new band member!</h1>
					

<%= form_for(:band, :html => { :multipart => true, :id => "contact_form_id" }, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => 'form', :locals => {:f => f}) %>
<%= submit_tag("Create",:class => "button_link")%>
<% end %>
</div>