<div class="inner">
				
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/band.png') %>
					<%= image_tag('/stylesheets/backend/assets/icons/big_icons/band_title.png',:id => 'big_title') %>
					</p>


										<h1><%= "Details" + @band.name %></h1>
				
<%= link_to("<< Back to list", {:action => 'list'}, :class => 'button_link') %>
<div>&nbsp;</div>	
			<fieldset>
						<legend>Tha Band</legend>
			<p><label>Instrument:</label>
			<%= @band.instrument %></p>
			
			<p><label>Geboren op :</label>
			<%= @band.birthday %></p>
	
			<p>
			<label>Foto:</label>
			<%= image_tag (@band.picture.url(:medium)) %></p>
			<p><label>Bio:</label>
			<%= @band.content %></p>		
			
		</fieldset>
		</div>
	<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#band').addClass('current').html("<a><span>The Band</span></a>");
    });
  </script>
<% end %>