<%= render "shared/error_messages" , :target => @subject %>
<ul>						
					<li class="clearfix">
						<label for="name">Name</label>
						<%= f.text_field(:name,{:id => "name"})%>
						<div class="clear"></div>
					</li>
					<li class="clearfix">
						<label for="name">Position</label>
						<%= f.text_field(:position,{:id => "name"})%>
						<div class="clear"></div>
					</li>
					<li class="clearfix">
						<label for="name">Visible</label>
						<%= f.text_field(:visible,{:id => "name"})%>
						<div class="clear"></div>
					</li>
					<li class="clearfix">
						<label for="name">Photo</label>
						<%= f.file_field (:photo,{:id => "name"})%>
						<div class="clear"></div>
					</li>
					<li class="clearfix">
						<label for="name">Content</label>
						<%= f.text_area(:content,{:id => "content"})%>
						<div class="clear"></div>
					</li>
</ul>
