<%= render "shared/error_messages" , :target => @subject %>
<fieldset>
						<legend>News</legend>
						
						<p>
						<label>Name:</label>
						<%= f.text_field(:name,{:class => "lf"})%>
						</p>
						<p>
						<label>Position:</label>
						<%= f.text_field(:position,{:class => "lf"})%>
						</p>
						<p>
						<label>Visible:</label>
						<%= f.text_field(:visible,{:class => "lf"})%>
						</p>
					
						<p>
						<label>Photo</label>
						<%= link_to image_tag('fancy_nav_left.png', {:alt => 'Rotate Clockwise'}), :action => 'rotate', :id => 								@subject.id, :deg => '-90' %>
						<%= link_to image_tag('fancy_nav_right.png', {:alt => 'Rotate Clockwise'}), :action => 'rotate', :id => 								@subject.id, :deg => '90' %>
						<%= f.file_field(:photo,{:id => "name"})%>
						</p>
						
						<p>
						<label>Content</label><br/>
						<%= f.text_area(:content,{:class => "editor"})%>
						</p>
						
						