
	<%= link_to("Add New Subject", {:action => 'new'}, :class => 'button_link') %>
	
	<div>&nbsp;</div>
	<table class="normal tablesorter fullwidth">
						<thead>
							<tr>
								
								<th>ID</th>
								<th><%= sortable "name" %></th>
								<th><%= sortable "visible" %></th>
								<th>&nbsp;Pages</th>
								<th>Actions</th>
							</tr>
						</thead>
	<tbody>
	
	<% @subjects.each do |subject| %>
	
								<tr class="odd">
								
								<td><%= subject.id %>&nbsp;</td>
								<td><%= subject.name %>&nbsp;</td>
								<td><%= subject.visible ? 'Yes' : 'No' %>&nbsp;</td>
								<td>&nbsp;<%= subject.pages.size %></td>
								<td>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/preferences.png'),{:action => 'show', :id => subject.id}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/pencil.png'),{:action => 'edit', :id => subject.id}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/trash.png'),{:action => 'delete', :id => subject.id}) %>	
								</td>
							</tr>
	
	
	
	<% end %>
	</tbody>
	</table>
	<%= will_paginate @subjects %>