
	<%= link_to("Add New Subject", {:action => 'new'}, :class => 'button_link') %>
	
	<div>&nbsp;</div>
	<table class="normal tablesorter fullwidth">
						<thead>
							<tr>
								
								<th>ID</th>
								<th><%= sortable "name" %></th>
								<th>Photo</th>
								<th>Content</th>
								<th>Actions</th>
							</tr>
						</thead>
	<tbody>
	
	<% @subjects.each do |subject| %>
	
								<tr class="odd">
								
								<td><%= subject.id %>&nbsp;</td>
								<td><%= subject.name %>&nbsp;</td>
								<td><%= image_tag(subject.photo.url(:thumb)) %></td>
								<td><%= raw subject.content %></td>
								<td>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/preferences.png'),{:action => 'show', :id => subject.id}, {:title => 'Show ' + subject.name ,:class => "tooltip table_icon"}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/pencil.png'),{:action => 'edit', :id => subject.id}, {:title => 'Edit ' + subject.name ,:class => "tooltip table_icon"}) %>
								<%= link_to(image_tag('/stylesheets/backend/assets/icons/actions_small/trash.png'),{:action => 'delete', :id => subject.id}, {:title => 'Delete ' + subject.name ,:class => "tooltip table_icon"}) %>	
								</td>
							</tr>
	
	
	
	<% end %>
	</tbody>
	</table>
	<%= will_paginate @subjects %>