<% @array = [6,6,3,3,3,3]
@kleur = ["news_title_odd","news_title_odd"]
	@getal = 0;
%>
<% @subjects.each do |subject| %>

<section id="left_col" class="grid_<%= @array[@getal] %>">



<article class="news_page">
<div class="hr dotted clearfix">&nbsp;</div>

		<h4 class="<%= @kleur.choice %>"><%= subject.name %></h4>
		<p><a class="portfolio_item" href="<%= '/Subjects/show/' + subject.id.to_s %>" title="<%= subject.name %>">
		<img class="float_left" title="" src="<%= subject.photo.url(:large)%>" alt="" />
		</a>
		<p><%= raw subject.content %></p>
		<!-- <p>Aangemaakt op : --> <% subject.created_at %><!-- </p> -->
		<p><%= link_to("Read more", '/Subjects/show/' + subject.id.to_s, :class => 'more_news_link') %></p>
		<div>&nbsp;</div>
		<div class="hr dotted clearfix">&nbsp;</div>
</article>


</section>
<% @getal+=1;%>
<% end %>
<div class="hr dotted clearfix">&nbsp;</div>
<div><%= will_paginate @subjects %></div>