<div class="inner">
				<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/news.png') %>
								<%= image_tag('/stylesheets/backend/assets/icons/big_icons/news_title.png') %>
								</p>
				
										<h1>Edit <%= @subject.name %></h1>
					
<%= link_to("<< Back to list", {:action => 'list'}, :class => 'button_link') %>
<div>&nbsp;</div>

<%= form_for(:subject,:html => { :id => "news_form_id" },:url => {:action => 'update', :id => @subject.id}) do |f| %>
	
		
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	<p><%= image_tag(@subject.photo.url(:medium), :id => "cropbox") %></p>
	
		<%= submit_tag("Update",:class => "button_link")%>

<% end %>
</div>