<!--
%a Ğ The abbreviated weekday name (ÒSunÓ)
%A Ğ The full weekday name (ÒSundayÓ)
%b Ğ The abbreviated month name (ÒJanÓ)
%B Ğ The full month name (ÒJanuaryÓ)
%c Ğ The preferred local date and time representation
%d Ğ Day of the month (01..31)
%H Ğ Hour of the day, 24-hour clock (00..23)
%I Ğ Hour of the day, 12-hour clock (01..12)
%j Ğ Day of the year (001..366)
%m Ğ Month of the year (01..12)
%M Ğ Minute of the hour (00..59)
%p Ğ Meridian indicator (ÒAMÓ or ÒPMÓ)
%S Ğ Second of the minute (00..60)
%U Ğ Week number of the current year, starting with the first Sunday as the first day of the first week (00..53)
%W Ğ Week number of the current year, starting with the first Monday as the first day of the first week (00..53)
%w Ğ Day of the week (Sunday is 0, 0..6)
%x Ğ Preferred representation for the date alone, no time
%X Ğ Preferred representation for the time alone, no date
%y Ğ Year without a century (00..99)
%Y Ğ Year with century
%Z Ğ Time zone name
%% Ğ Literal Ò%Ó character
-->

<% @i = 0 %>
<% @events.sort{|a,b| b.start_time <=> a.start_time}.each do |event| %>
<% break event if (@i.to_s == '4') %>
	<article class="date">
	<a class="boxgrid box alpha tl tooltip" id="gcal<%= @i.to_s %>" href="#" title="<%= event.title %>">
			<h4 class="month"><%= event.start_time.strftime("%b") %></h4><br/>
			<h4 class="day"><%= event.start_time.strftime("%d") %></h4>
			<h4 class="year"><%= event.start_time.strftime("%Y") %></h4>
			<div class="info_event">
			<h4 class="e_title"><%= event.title %></h4>
			<p class="e_time"><%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %></p>
			<p class="e_loc"><%= event.where %></p>
			</div>
			</a>
	</article>
	<% @i +=1 %>
<% end %>
