<div class="inner">
				
								<p><%= image_tag('/stylesheets/backend/assets/icons/big_icons/news.png') %>
								<%= image_tag('/stylesheets/backend/assets/icons/big_icons/news_title.png') %>
								</p>
<%= form_for(:subject,:remote => true,:html => {:method => :get, :id => "subjects_search"}) do %>
<% if flash[:notice] %>
<div class="notification success"> 
<span></span> 
<div class="text"> 
<p><strong><%= flash[:notice] %></strong>.</p> 
</div> 
</div> 
  <% end %>
  <fieldset><legend>Search</legend>
  <%= hidden_field_tag :direction, params[:direction] %>  
  <%= hidden_field_tag :sort, params[:sort] %>   
  <p>  
    <%= text_field_tag :search, params[:search],:id => "search_form" %>  
    <%= submit_tag "Search", :name => nil,:id => "search_button"%>  
  </p>  
<% end %>
</fieldset>
<div class="hr dotted clearfix">&nbsp;</div>
<div class="subject list" id="subjects">
<%= render "lijst" %>
</section>
</section>
</div>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('#news').addClass('current').html("<a><span>News</span></a>");
    });
  </script>
<% end %>