<div data-role="header">
  <h1><%= @subject.name %></h1>
</div>

<div data-role="content">
<figure><a class="isphoto_m" href="<%= @subject.photo.url(:medium) %>" rel="prettyPhoto[mixed]" title="<%= @subject.name %>"></a>
			<span class="image-holder-medium"><img class="thumb" alt="" src="<%= @subject.photo.url(:medium)%>" /></span>
			</figure>

  <p><%= @subject.content %></p>
  <p>Aangemaakt op : <%= @subject.created_at %></p>
</div>

 <div data-role="footer" class="ui-bar" data-position="fixed">
	<a href="." data-role="button">Home</a>
	<a href="/Bands" data-role="button">Band</a>
	<a href="/Tracks/player" data-role="button">Music</a>
	<a href="/Contacts/new" data-role="button">Book us!</a>
</div

