<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('p#news').html('<br>News');
    });
  </script>
<% end %>

<div class="breadcrumbs">
<div>&nbsp;</div>
<a href="/">Home</a> > <a href="/subjects/news">News</a> > <%= @subject.name %></div>
<aside>
		<h2 class="grid_12 message_board clearfix">Detail<%= " " + @subject.name %></h2>
</aside>

<!-- Column -->
		<section id="left_col" class="grid_4">
		
					<div class="hr dotted clearfix">&nbsp;</div>

		
		
		<!-- Floated Images within a paragraph -->
			<figure><a class="isphoto_m" href="<%= @subject.photo.url(:large) %>" rel="prettyPhoto[mixed]" title="<%= @subject.name %>"></a>
			<span class="image-holder-medium"><img class="thumb" alt="" src="<%= @subject.photo.url(:medium)%>" /></span>
			</figure>
				<div class="hr dotted clearfix">&nbsp;</div>
				
		<p><%= @subject.created_at %></p>
<%= link_to("Overview", '/Subjects/news', :class => 'textlink') %>
</section>

<article>
				<p class="news_detail"><%= raw @subject.content %></p>
				</article>


<div>&nbsp;</div>	
<section class="grid_3">
<ul class="news_bar_divider">
<% @other_news.each do |other| %>
<a href="<%= "/subjects/show/" + other.id.to_s %>">
<li class="news_bar">
	<h4><%= other.name %></h4>
    <%= image_tag(other.photo.url(:thumb)) %>
</li>
</a>
<% end %>
</ul>
</section>
