   <!-- =Message board -->
<!--
<aside>
				<h2 class="grid_12 message_board clearfix">Skarminkels on Rails!</h2>
				<div>&nbsp;</div>
			</aside>
-->			

			<div class="hr grid_12 clearfix boxhr">&nbsp;</div>
			<!-- =Slider -->
			<section id="featured" class="clearfix grid_12">
			<div class="coin-slider" id="coin-slider-coin-slider">
				<div id="coin-slider">
				
				 <% @subjects.each do |subject| %>
				 
					<article>
						<a href="/Subjects/show/<%= subject.id %>" target="_self">
							<%= image_tag(subject.photo.url(:large)) %>
							<span><%= subject.name %></span>
							
							
						</a>
					</article>
					<div>
    				<span class="sexy_line"></span>
					</div>
					<% end %>
				</div><!-- coin-slider -->
				</div>
	
			</section><!-- #featured/slider -->
			
			<aside>
			<section class="box_entries grid_12">
   
   <article id="twitter_update_list">
					<ul id="mycarousel" class="jcarousel-skin-name">
					<% @tweets.each do |tweet| %>
						<li><img src="images/twitter_home.png" alt="twitter_icon"/><p class="tweet_content"><% tweet.created.strftime("%d/%m/%Y") %><% tweet.created.strftime("@%H:%M") %>
						<%= tweet.content %></p></li>
						 <% end %>
					</ul>
				</article>
   
  
   </section>
				<h2 class="grid_12 message_board clearfix">Upcoming Gigs!</h2>
				<div>&nbsp;</div>
			</aside>
			
				<!-- =BOXES RECENT ENTRIES -->
			<section class="box_entries grid_12">
			
			
        
   <div id="spinner"><img src="images/ajax-loader.gif" /></div>
   <div id="ajax"></div>
   </section>
   
   <aside>
				<h2 class="grid_12 message_board clearfix">Recent News</h2>
				<div>&nbsp;</div>
			</aside>
	<section class="box_entries grid_12">
	<% @s = 0 %>
   <% @subjects.each do |subject| %>
   
   <article>
					<a class="boxgrid box alpha tl tooltip" id="sub<%= @s.to_s %>" href="/Subjects/show/<%= subject.id %>" title="<%= subject.name %>">
						<h4 class="title nocufon"><%= subject.name %></h4>
						<figure><%= image_tag(subject.photo.url(:thumb)) %></figure>
						<p class="sub">
						<%= raw subject.content %><p class="dots">...</p>
						</p>
					</a>
				</article>
	<% @s+=1; %>
    <% end %>
    </section>

       