   
   <% @subjects.each do |subject| %>
   <article class="post">
        
            <h2><a href="#"><%= subject.name %></a></h2>
            
            <%= link_to(image_tag(subject.photo.url(:thumb), :class => "thumbnail alignleft"), subject.photo.url(:large), :id => "single") 				unless subject.photo.nil? %>
            
            <article class="text" ><%= subject.content %></article>
            
            <div class="clear"></div>  
            
            <footer class="postmeta">
                <span class="btn alignleft">
                	<time pubdate><%= subject.created_at %></time>
				</span>
                <a href="#" class="more-link alignright">Lees meer</a>
            </footer> <!-- end post meta -->
        
        </article> <!-- end post 1 -->
    <% end %>
    
     </div> <!-- end main -->
    
    <div id="sidebar" class="grid_4 omega">
    
        <aside class="widget">
            <h3>Laatste tweets</h3>
            <ul>
            <% @tweets.each do |tweet| %>
                <li><a href="#"><%= tweet.content %></a></li>
             <% end %>
             </ul>
        </aside> <!-- end widget -->
        <aside class="widget">
            <h3>Upcoming Gigs</h3>
            <ul>
            <% @events.each do |event| %>
                <li><a href="/calendar/show/<%= event.id %>"><%= event.name %></a></li>
             <% end %>
             </ul>        </aside> <!-- end widget -->
    
    </div> <!-- end sidebar -->