<div class="inner">

					<h1>Dashboard Elements</h1>

					<ul class="dash">
				
						<li class="fade_hover tooltip" title="Write a new article">
							<a href="/Subjects/new">
							<%= image_tag('/stylesheets/backend/assets/icons/dashboard/news.png') %>
								
								<span>New article</span>
							</a>
						</li>
						
						<li class="fade_hover tooltip" title="Insert bandmember!">
							<a href="/Bands/new">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/band.png') %>
								<span>The band</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Manage Users">
							<a href="/users">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/users.png') %>
								<span>Users</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Social Media Config">
							<a href="/config_key">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/config.png') %>
								<span>Config Keys</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Social Media">
							<a href="/tweet/new">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/twitter.png') %>
								<span>Social</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Insert new song">
							<a href="/tracks/new">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/music_folder.png') %>
								<span>Songs</span>
							</a>
						</li>
 
						<li class="fade_hover tooltip" title="Google Agenda">
							<a href="/google">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/google.png') %>
								<span>Google</span>
							</a>
						</li>
						<li class="fade_hover tooltip" title="Picture Albums">
							<a href="/albums/new">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/jpeg_image.png') %>
								<span>Picture Albums</span>
							</a>
						</li>
						
						<li class="fade_hover tooltip" title="Add a Video">
							<a href="/videos/new">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/video.png') %>
								<span>Video's</span>
							</a>
						</li>
						
						<li class="fade_hover tooltip" title="Bookings">
							<a href="/contacts">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/booking.png') %>
								<span>Bookings</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="End current session">
							<a href="/admin/users/sign_out">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/118.png') %>
								<span>Logout</span>
							</a>
						</li>

					</ul> <!-- end dashboard items -->
					
									</div> <!-- inner -->
