<div class="inner">

					<h1>Dashboard Elements</h1>

					<ul class="dash">
				
						<li class="fade_hover tooltip" title="Write a new article">
							<a href="/Subjects/new">
							<%= image_tag('/stylesheets/backend/assets/icons/dashboard/2.png') %>
								
								<span>New article</span>
							</a>
						</li>
						
						<li class="fade_hover tooltip" title="Check your notes">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/3.png') %>
								<span>My Notes</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Manage Users (3 new users)">
							<span class="bubble">3</span>
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/54.png') %>
								<span>Users</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Website Statistics">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/81.png') %>
								<span>Statistics</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Your server's information">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/21.png') %>
								<span>Server Info</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="No new warnings">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/25.png') %>
								<span>Warnings</span>
							</a>
						</li>
 
						<li class="fade_hover tooltip" title="Latest Downloads">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/36.png') %>
								<span>Downloads</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="View all Listings">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/42.png') %>
								<span>Listings</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Manage user gallery">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/27.png') %>
								<span>Gallery</span>
							</a>
						</li>

						<li class="fade_hover tooltip dialog_link" title="47 new messages!">
							<span class="bubble">47</span>
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/75.png') %>
								<span>Inbox</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Add / Remove Contacts">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/123.png') %>
								<span>Contacts</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="Time Schedule">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/14.png') %>
								<span>Schedule</span>
							</a>
						</li>

						<li class="fade_hover tooltip" title="17 new purchases">
							<span class="bubble">17</span>
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/80.png') %>
								<span>Earnings</span>
							</a>
						</li>
						
						<li class="fade_hover tooltip" title="Lorem Ipsum">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/18.png') %>
								<span>Media</span>
							</a>
						</li>

						<li class="fade_hover tooltip dialog_link" title="End current session">
							<a href="#">
								<%= image_tag('/stylesheets/backend/assets/icons/dashboard/118.png') %>
								<span>Logout</span>
							</a>
						</li>

					</ul> <!-- end dashboard items -->
					
									</div> <!-- inner -->
