<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $('p#gigs').html("<br>Gigs");
    });
  </script>
<% end %>
<%= javascript_include_tag 'jquery.isotope','jquery.infinitescroll.min' %>
<div class="breadcrumbs">
<div>&nbsp;</div>
<a href="/">Home</a> > <a href="/gigs">Gigs</a></div>
<h2 class="grid_12 message_board clearfix">Upcoming Gigs!</h2>
<div>&nbsp;</div>

<div id="isotope_gigs" class="clearfix">

<% @googles.each do |event| %>
	<article class="date">
	<a class="boxgrid box alpha tl tooltip" id="event<%= rand(5).to_s%>" href="<%= '/Gigs/show/' + event.id.to_s %>">
      <h4 class="month"><%= event.start_time.strftime("%b") %></h4>
      <h4 class="day"><%= event.start_time.strftime("%d") %></h4>
      <h4 class="year"><%= event.start_time.strftime("%Y") %></h4>
      <p>&nbsp;</p>
      <div class="info_event">
			<p class="name"><%= event.title%></p>
			<p class="e_time"><%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %></p>
			<p class="where"><%= event.where %></p>
			</div>   
    </a>
    </article>
<% end %>
</div>

<div class="pagination"><%= will_paginate @googles %></div>

