<div class="breadcrumbs">
<div>&nbsp;</div>
<a href="/">Home</a> > <a href="/gigs">Gigs</a> > <%= @data.title %></div>

<aside>
		<h2 class="grid_12 message_board clearfix"><%= @data.title %></h2>
</aside>
<script type="text/javascript" charset="utf-8">
  function gmaps4rails_callback() {
   $("#instructions").hide();
   $("#untoggleInfo").hide();
   
   $('#toggleInfo').click(function() {
  	 $("#instructions").slideDown(800);
  	 $("#untoggleInfo").show();
  	 $("#toggleInfo").hide();
	});
	
	$('#untoggleInfo').click(function() {
  	 $("#instructions").slideUp(800);
  	 $("#untoggleInfo").hide();
  	 $("#toggleInfo").show();
	});
  
   if (Modernizr.geolocation){
            	navigator.geolocation.getCurrentPosition(register_coords);
            }
    function register_coords(position){
    
    
    var lat = position.coords.latitude;
    var long = position.coords.longitude;
    geocoder = new google.maps.Geocoder();
    
    var latlng = new google.maps.LatLng(lat, long);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
          current = results[1].formatted_address;
         document.cookie = "current_location="+current+expires+"7; path=/gigs";
        }
      });
    }
            
    if (Gmaps4Rails.markers.length == 1) {
     Gmaps4Rails.map.setZoom(14);   
    }
    else{
     //more than one marker, let's auto_zoom
     Gmaps4Rails.map_options.auto_zoom = true;
     Gmaps4Rails.adjust_map_to_bounds();
    }
  }
</script>
<!-- Column -->
		<section id="left_col" class="grid_8">
		
					<div class="hr dotted clearfix">&nbsp;</div>

		<h4 class="form_title"></h4>

<%= gmaps({
	   "direction" => {
                    "data"    => { "from" => "Schelderode", "to" => @data.where} , 
                    "options" => {"display_panel" => true, "panel_id" => "instructions"}
              },
       "map_options" => { "auto_zoom" => false, "center_latitude" => @data.latitude, "center_longitude" => @data.longitude},
       "markers"     => { "data" => @json }
      })
%>

<div>&nbsp;</div>
<!-- <div>Stand is :<%cookies[:current_location] %></div> -->

<div id="instructions"></div>


</section>
<section class="grid_4">
	<article class="gig_detail">
		<h4>Practical Info:</h4>
		<h6>Place to be :</h6>
		<p class="even"><%= @data.where%></p>
		<h6 >Datum:</h6>
		<pclass="odd"><%= @data.start_time.strftime("%d/%m/%Y") %> </p>
		<h6 >Wanneer:</h6>
		<p class="odd">Begin : <%= @data.start_time.strftime("%H:%M")%></p>
		<p class="odd"> Einde : <%= @data.end_time.strftime("%H:%M")%></p>
		<div><a id="toggleInfo" class="textlink">Get Directions</a><a id="untoggleInfo" class="textlink">Hide Directions</a>&nbsp;<%= link_to("Overview", '/Gigs', :class => 'textlink') %></div>
	</article>
	
	</section>
<%= stylesheet_link_tag('gmap_show') %>